{{#each this}}

  <img src='{{flags.svg}}' alt='flag of {{name.official}}' />
  <h2>{{name.official}}</h2>
  <p>Capital: {{capital}}</p>
  <p>Population: {{population}}</p>
  <p>Languages:
    {{#each languages}}{{/each}}
  </p>
{{/each}}